.imagem-logo{
    width: 20%;
}

.imagem-praia{
    width: 100%;
}
.texto-um{
    font-size: 25px;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 50px;
    padding: 12px 0;
   
}
